<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConversationPassword</key>
	<string>XfbqlhJNCFGn</string>
	<key>ConversationUsername</key>
	<string>2cd5ce92-aabb-4322-b100-ee1c45e5780d</string>
	<key>ConversationVersion</key>
	<string>2016-12-23</string>
	<key>ConversationWorkspaceID</key>
	<string>318c4ba2-adb5-4032-90a5-4a9970aeedea</string>
	<key>SpeechToTextPassword</key>
	<string>FBQSTGVRKLrK</string>
	<key>SpeechToTextUsername</key>
	<string>ee02e3e5-3eb2-465a-8950-d0554d5c0d38</string>
	<key>TextToSpeechPassword</key>
	<string>ZqChXtDo8qgn</string>
	<key>TextToSpeechUsername</key>
	<string>54a7ae25-1cad-4f00-b39b-1e0f47bc5226</string>
	<key>googlePlacesAPIKey</key>
	<string>AIzaSyCsXg4LjDogZkLz4nOKKCjH7oMnWSnh4DA</string>
</dict>
</plist>
